<html>
<body>
<ul>
{{#files}}
    <li><a href="{{tag}}-{{{file-name}}}.html">{{file-name}}</a></li>
{{/files}}
</ul>    

{{#next}}<a href="{{next}}.html">Next</a>{{/next}}
<br/>
{{#prev}}<a href="{{prev}}.html">Previous</a>{{/prev}}

</body>
</html>